:root  {
	/*colors*/	
		--purple:#440381;
		--pink:#DE0D92;
		--green:#087E8B;
		--blue:#A3E7FC;
		--black:#000100;
		--white:ghostwhite;

	/*gradients*/
		--w2b:linear-gradient( var( --white) 63%, var( --blue ));
		--g2w:linear-gradient( var( --green) 63%, var( --white));
	/*Logo*/	
		--colorLogo:var(--white);
		--fontLogo:Arial;
		--weightLogo:Bold;
		--shadowLogo:var(--blue) 3px 3px 3px;
	/*common*/
		--colorAnchor:var(--white);
		--shadow:var(--blue) 3px 3px 3px;
	/*Component*/
		--footerJustify: end;
}	

.flexRow{
	display:flex;
	flex-direction:row;
}
.flexColumn{
	display:flex;
	flex-direction:column;
}
.heading{
	font: bold 3.5vmin 'Arial', sans serif; 
}
.heading2{
	font: bold 2.5vmin 'Arial', sans serif; 
}
body{
	overflow:hidden;
	background:var(--g2w );
}
